In [2]:
%load_ext sql
%sql postgresql://postgres:toor@localhost:5432/Healthcare

Problem Statement 1: <br>
Johansson is trying to prepare a report on patients who have gone through treatments more than once. Help Johansson prepare a report that shows the patient's name, the number of treatments they have undergone, and their age, Sort the data in a way that the patients who have undergone more treatments appear on top.

In [4]:
%%sql
with cte as (
    select patientid, count(treatmentid) from treatment group by patientid
)
select personname, count, EXTRACT(YEAR FROM age(dob)) from
    cte left join patient using(patientid) inner join person on patientid = personid
    order by count desc LIMIT 10

 * postgresql://postgres:***@localhost:5432/Healthcare
10 rows affected.

[('Allen Brown', 43, Decimal('41')),
 ('Mary Nelson', 43, Decimal('62')),
 ('Herman Buchner', 42, Decimal('58')),
 ('James James', 42, Decimal('36')),
 ('Gregory Hansen', 42, Decimal('1')),
 ('Billy Rave', 42, Decimal('71')),
 ('Stephanie Weaver', 42, Decimal('11')),
 ('Michael Runyon', 41, Decimal('65')),
 ('Carolyn Ashby', 41, Decimal('68')),
 ('Bryan Fazzone', 41, Decimal('75'))]

Problem Statement 2:  <br>
Bharat is researching the impact of gender on different diseases, He wants to analyze if a certain disease is more likely to infect a certain gender or not.<br>
Help Bharat analyze this by creating a report showing for every disease how many males and females underwent treatment for each in the year 2021. It would also be helpful for Bharat if the male-to-female ratio is also shown.

In [30]:
%%sql
with cte as (
    select diseaseid, 
    sum(( case when gender = 'female' then 1 else 0 end)) as female,
    sum(( case when gender = 'male' then 1 else 0 end)) as male
    from treatment left join person on patientid = personid
    where EXTRACT(YEAR FROM date ) = 2021
     group by diseaseid
)
select diseasename , male, female, round(male::numeric / female, 2) as ratio from cte left join disease using (diseaseid)

 * postgresql://postgres:***@localhost:5432/Healthcare
40 rows affected.

[("Alzheimer's disease", 45, 23, Decimal('1.96')),
 ('Amyotrophic lateral sclerosis', 32, 25, Decimal('1.28')),
 ('Anorexia nervosa', 40, 28, Decimal('1.43')),
 ('Anxiety disorder', 33, 25, Decimal('1.32')),
 ('Asthma', 41, 25, Decimal('1.64')),
 ('Atherosclerosis', 50, 28, Decimal('1.79')),
 ('Attention deficit hyperactivity disorder', 43, 37, Decimal('1.16')),
 ('Autism', 40, 24, Decimal('1.67')),
 ('Autoimmune diseases', 33, 19, Decimal('1.74')),
 ('Bipolar disorder', 40, 34, Decimal('1.18')),
 ('Cancer', 43, 19, Decimal('2.26')),
 ('Chronic fatigue syndrome', 41, 33, Decimal('1.24')),
 ('Chronic obstructive pulmonary disease', 40, 27, Decimal('1.48')),
 ("Crohn's disease", 43, 30, Decimal('1.43')),
 ('Coronary heart disease', 38, 16, Decimal('2.38')),
 ('Dementia', 38, 26, Decimal('1.46')),
 ('Depression', 40, 19, Decimal('2.11')),
 ('Diabetes mellitus type 1', 44, 18, Decimal('2.44')),
 ('Diabetes mellitus type 2', 32, 23, Decimal('1.39')),
 ('Dilated cardiomyopathy', 45, 23, Decimal('1.96')),
 ('Epilepsy', 41, 23, Decimal('1.78')),
 ('Guillain–Barré syndrome', 42, 36, Decimal('1.17')),
 ('Irritable bowel syndrome', 43, 28, Decimal('1.54')),
 ('Low back pain', 47, 22, Decimal('2.14')),
 ('Lupus', 38, 24, Decimal('1.58')),
 ('Metabolic syndrome', 38, 25, Decimal('1.52')),
 ('Multiple sclerosis', 50, 24, Decimal('2.08')),
 ('Myocardial infarction', 46, 22, Decimal('2.09')),
 ('Obesity', 41, 33, Decimal('1.24')),
 ('Obsessive–compulsive disorder', 47, 20, Decimal('2.35')),
 ('Panic disorder', 43, 25, Decimal('1.72')),
 ("Parkinson's disease", 30, 22, Decimal('1.36')),
 ('Psoriasis', 36, 24, Decimal('1.50')),
 ('Rheumatoid arthritis', 38, 29, Decimal('1.31')),
 ('Sarcoidosis', 31, 26, Decimal('1.19')),
 ('Schizophrenia', 46, 27, Decimal('1.70')),
 ('Stroke', 42, 24, Decimal('1.75')),
 ('Thromboangiitis obliterans', 39, 24, Decimal('1.63')),
 ('Tourette syndrome', 40, 33, Decimal('1.21')),
 ('Vasculitis', 45, 29, Decimal('1.55'))]

Problem Statement 3:  <br>
Kelly, from the Fortis Hospital management, has requested a report that shows for each disease, the top 3 cities that had the most number treatment for that disease.
Generate a report for Kelly’s requirement.

In [123]:
%%sql
--13308

with cte as (
    select diseaseid, city, count(treatmentid),
        row_number() OVER (PARTITION BY diseaseid order by   count(treatmentid) desc)
      FROM  address
        inner join person using (addressid)
        inner join treatment on patientid = personid

    group by city, diseaseid 
),
cte2 as (select o.diseaseid, array_agg(city) as cities from cte o where row_number < 4
group by o.diseaseid order by diseaseid 
)

select diseasename , cities from cte2 inner join disease using (diseaseid)

 * postgresql://postgres:***@localhost:5432/Healthcare
40 rows affected.

[("Alzheimer's disease", ['Washington', 'Montgomery', 'Savannah']),
 ('Amyotrophic lateral sclerosis', ['Montgomery', 'Washington', 'Oklahoma City']),
 ('Anorexia nervosa', ['Montgomery', 'Nashville', 'Manchester']),
 ('Anxiety disorder', ['Arvada', 'Fayetteville', 'Nashville']),
 ('Asthma', ['Glendale', 'Montgomery', 'Fayetteville']),
 ('Atherosclerosis', ['Montgomery', 'Manchester', 'Arvada']),
 ('Attention deficit hyperactivity disorder', ['Washington', 'Nashville', 'Montgomery']),
 ('Autism', ['Montgomery', 'Nashville', 'Washington']),
 ('Autoimmune diseases', ['Montgomery', 'Manchester', 'Glendale']),
 ('Bipolar disorder', ['Manchester', 'Nashville', 'Oklahoma City']),
 ('Cancer', ['Montgomery', 'Louisville', 'Washington']),
 ('Chronic fatigue syndrome', ['Montgomery', 'Nashville', 'Manchester']),
 ('Chronic obstructive pulmonary disease', ['Washington', 'Nashville', 'Manchester']),
 ("Crohn's disease", ['Montgomery', 'Glendale', 'Oklahoma City']),
 ('Coronary heart disease', ['Montgomery', 'Manchester', 'Washington']),
 ('Dementia', ['Montgomery', 'Washington', 'Arvada']),
 ('Depression', ['Arvada', 'Montgomery', 'Washington']),
 ('Diabetes mellitus type 1', ['Montgomery', 'Washington', 'Panama City']),
 ('Diabetes mellitus type 2', ['Montgomery', 'Washington', 'Nashville']),
 ('Dilated cardiomyopathy', ['Washington', 'Montgomery', 'Glendale']),
 ('Epilepsy', ['Montgomery', 'Manchester', 'Anchorage']),
 ('Guillain–Barré syndrome', ['Montgomery', 'Manchester', 'Washington']),
 ('Irritable bowel syndrome', ['Washington', 'Arvada', 'Glendale']),
 ('Low back pain', ['Manchester', 'Washington', 'Montgomery']),
 ('Lupus', ['Nashville', 'Manchester', 'Arvada']),
 ('Metabolic syndrome', ['Nashville', 'Washington', 'Arvada']),
 ('Multiple sclerosis', ['Nashville', 'Manchester', 'Fayetteville']),
 ('Myocardial infarction', ['Manchester', 'Washington', 'Arvada']),
 ('Obesity', ['Montgomery', 'Manchester', 'Savannah']),
 ('Obsessive–compulsive disorder', ['Montgomery', 'Washington', 'Manchester']),
 ('Panic disorder', ['Washington', 'Montgomery', 'Nashville']),
 ("Parkinson's disease", ['Montgomery', 'Arvada', 'Glendale']),
 ('Psoriasis', ['Manchester', 'Washington', 'Nashville']),
 ('Rheumatoid arthritis', ['Nashville', 'Montgomery', 'Arvada']),
 ('Sarcoidosis', ['Nashville', 'Washington', 'Manchester']),
 ('Schizophrenia', ['Fayetteville', 'Nashville', 'Louisville']),
 ('Stroke', ['Washington', 'Montgomery', 'Nashville']),
 ('Thromboangiitis obliterans', ['Savannah', 'Montgomery', 'Arvada']),
 ('Tourette syndrome', ['Nashville', 'Montgomery', 'Savannah']),
 ('Vasculitis', ['Nashville', 'Montgomery', 'Arvada'])]

Problem Statement 4: <br>
Brooke is trying to figure out if patients with a particular disease are preferring some pharmacies over others or not, For this purpose, she has requested a detailed pharmacy report that shows each pharmacy name, and how many prescriptions they have prescribed for each disease in 2021 and 2022, She expects the number of prescriptions prescribed in 2021 and 2022 be displayed in two separate columns.<br>
Write a query for Brooke’s requirement.

In [162]:
 %%sql
with cte as (select pharmacyid , diseaseid, 
 sum((case when  year = 2021 then 1 else 0 end)) as "2021",
 sum((case when  year = 2022 then 1 else 0 end)) as "2022"
  from prescription inner join 
    (Select treatmentid, EXTRACT(YEAR from date) as year, diseaseid FROM treatment
         where EXTRACT(YEAR from date) in (2021, 2022)) using (treatmentid)  
    GROUP BY  pharmacyid, diseaseid order by diseaseid
)
select pharmacyname, diseasename, "2021", "2022" from pharmacy
     inner join cte using (pharmacyid) inner join disease using(diseaseid)  order by "2021" desc, "2022" desc  LIMIT 10

 * postgresql://postgres:***@localhost:5432/Healthcare
10 rows affected.

[('Wellness Craft', 'Attention deficit hyperactivity disorder', 4, 1),
 ('Eastside Pharmacy and Compounding', 'Chronic obstructive pulmonary disease', 4, 1),
 ('Cherry Street Pharmacy', 'Guillain–Barré syndrome', 4, 0),
 ('Lakeside Pharmacy', 'Cancer', 4, 0),
 ('Express Scripts', 'Metabolic syndrome', 3, 2),
 ('Pharmacy Alliance', 'Amyotrophic lateral sclerosis', 3, 2),
 ('Envolve Health', 'Irritable bowel syndrome', 3, 1),
 ('True Pill', 'Bipolar disorder', 3, 1),
 ('Cardinal Health', 'Depression', 3, 1),
 ('Postmeds', 'Metabolic syndrome', 3, 1)]

Problem Statement 5:  <br>
Walde, from Rock tower insurance, has sent a requirement for a report that presents which insurance company is targeting the patients of which state the most. <br>
Write a query for Walde that fulfills the requirement of Walde.<br>
Note: We can assume that the insurance company is targeting a region more if the patients of that region are claiming more insurance of that company.

In [86]:
%%sql
with cte as (  
    select companyid, state from insuranceplan 
        inner join claim  using ( uin ) 
        left join treatment using(claimid)   -- left join because avoid not null condition
        inner join person on personid = patientid 
        inner join address  using(addressid)
),
-- cte2 as (
--     select claimid , state from cte inner join treatment using(patientid) where claimid is not null
-- )
cte2 as (
select companyid, state, count(*),
    row_number() over (partition by (companyid) order by count(*) desc) from cte  group by (companyid, state) 
)
select companyname, state, count from cte2 inner join  insurancecompany using(companyid) where row_number = 1 order by count desc

 * postgresql://postgres:***@localhost:5432/Healthcare
42 rows affected.

[('ICICI Lombard GI Co. Ltd.', 'CA', 90),
 ('HDFC ERGO General Insurance Co. Ltd.�', 'CA', 59),
 ('Navi General Insurance Ltd.', 'CA', 57),
 ('Star Health & Allied Insurance Co. Ltd.�', 'CA', 51),
 ('Bajaj Allianz General Insurance Co Ltd�', 'CA', 46),
 ('Future Generali India Insurance Co. Ltd.', 'CA', 42),
 ('Niva Bupa Health Insurance co ltd', 'CA', 40),
 ('SBI General Insurance Co.Ltd.', 'CA', 27),
 ('Bajaj Allianz General Insuarnce Co. Ltd', 'CA', 22),
 ('HDFC ERGO General Insurance company Ltd�', 'CA', 20),
 ('Star Health and Allied Insurrance Co.', 'CA', 20),
 ('Aditya Birla Health Insurance Co. Ltd', 'CA', 18),
 ('United India Insurance Co. Ltd.', 'GA', 17),
 ('Kotak Mahindra General Insurance Co. Ltd.', 'CA', 17),
 ('Go Digit General Insurance Co.Ltd', 'CA', 17),
 ('Kotak Mahindra General Insurance Company Ltd.', 'OK', 16),
 ('Cholamandalam MS General Insurance Co. Ltd.', 'CA', 14),
 ('Bajaj Allianz General Insurance Co. Ltd.�', 'CA', 13),
 ('Tata AIG General Insurance Co. Ltd.', 'AL', 12),
 ('Universal Sompo GIC', 'FL', 12),
 ('The Oriental��Insurance Co. Limited', 'AL', 12),
 ('HDFC ERGO General Insurance Company Ltd.', 'CA', 11),
 ('Liberty General Insurance Ltd.', 'CO', 11),
 ('Future Generali India Insurance Company Limited.���', 'VT', 9),
 ('Care Health Insurance Ltd.', 'CA', 9),
 ('Niva Bupa Health Insurance Co. Ltd.', 'CA', 8),
 ('Raheja QBE General Insurance Co. Ltd.', 'CA', 7),
 ('National Insurance Co. Ltd.', 'CT', 7),
 ('Aditya Birla Health Insurance Co. Ltd.', 'AL', 7),
 ('Cholamandalam MS General Insurance Co. Ltd', 'DC', 6),
 ('Care Health Insurance Co. Ltd', 'CA', 6),
 ('Acko General Insurance Ltd.�', 'FL', 6),
 ('Edelweiss General Insurance Co. Ltd.', 'TN', 6),
 ('Care Health Insurance Co. Ltd�', 'AL', 5),
 ('Star Health and Allied Insurrance Co. Ltd.', 'OK', 5),
 ('Cholamandalam MS General', 'AL', 5),
 ('Future Generali Indis Insurance Co. Ltd', 'DC', 5),
 ('SBI General Insurance Co. Ltd.', 'AL', 5),
 ('Max Bupa Health Insurance Co. Ltd.', 'OK', 4),
 ('Iffco Tokio General Insurance Company Ltd.', 'FL', 4),
 ('Tata AIG General Insuarnce Co Ltd', 'TN', 4),
 ('United India Insurance Co.Ltd.', 'GA', 4)]