In [224]:
%load_ext sql
%sql postgresql://postgres:toor@localhost:5432/Healthcare

<b>Problem Statement 1:</b><br>  Jimmy, from the healthcare department, has requested a report that shows how the number of treatments each age category of patients has gone through in the year 2022. 
The age category is as follows, Children (00-14 years), Youth (15-24 years), Adults (25-64 years), and Seniors (65 years and over).<br>
Assist Jimmy in generating the report.

In [225]:
%%sql
select 
    (
        CASE 
            WHEN age < 15 THEN 'Children'
            WHEN age < 25 THEN 'Youth'
            else 'Seniors'
        end
    ) ages, count(treatmentid) from 
    
(
    select EXTRACT(year from age(dob)) as age, treatmentid  from 
        patient inner join treatment using(patientid) 
)
group by ages

 * postgresql://postgres:***@localhost:5432/Healthcare
3 rows affected.

[('Seniors', 8277), ('Youth', 364), ('Children', 2244)]

<b>Problem Statement 2: </b> <br> Jimmy, from the healthcare department, wants to know which disease is infecting people of which gender more often.<br>
Assist Jimmy with this purpose by generating a report that shows for each disease the male-to-female ratio. Sort the data in a way that is helpful for Jimmy.

In [226]:
%%sql

-- select * from disease;  	diseasename	  diseaseid
-- select * from treatment;	 diseaseid	  patientid
-- select * from person   personid > gender

select diseasename ,
count(
    case 
    when gender = 'male' then 1 else null end
)  || ':' ||


count(case when gender = 'female' then 1 else null end)  ratio 

 from person inner join treatment on  patientid = personid
inner join disease using(diseaseid)
group by (diseasename)

 * postgresql://postgres:***@localhost:5432/Healthcare
40 rows affected.

[('Schizophrenia', '190:117'),
 ('Lupus', '158:88'),
 ('Atherosclerosis', '174:112'),
 ('Dementia', '162:90'),
 ('Diabetes mellitus type 2', '178:99'),
 ('Coronary heart disease', '149:97'),
 ('Epilepsy', '153:96'),
 ('Asthma', '144:101'),
 ('Depression', '170:82'),
 ('Low back pain', '159:111'),
 ('Attention deficit hyperactivity disorder', '158:125'),
 ('Autoimmune diseases', '165:102'),
 ('Diabetes mellitus type 1', '174:93'),
 ("Crohn's disease", '182:102'),
 ('Thromboangiitis obliterans', '175:96'),
 ('Obsessive–compulsive disorder', '175:110'),
 ('Dilated cardiomyopathy', '191:110'),
 ('Sarcoidosis', '170:96'),
 ('Vasculitis', '175:121'),
 ('Anxiety disorder', '153:126'),
 ('Tourette syndrome', '153:125'),
 ('Guillain–Barré syndrome', '169:124'),
 ("Alzheimer's disease", '173:95'),
 ('Cancer', '191:103'),
 ('Psoriasis', '157:93'),
 ('Chronic fatigue syndrome', '158:107'),
 ('Amyotrophic lateral sclerosis', '165:106'),
 ("Parkinson's disease", '145:94'),
 ('Obesity', '157:123'),
 ('Rheumatoid arthritis', '156:113'),
 ('Irritable bowel syndrome', '184:104'),
 ('Bipolar disorder', '166:114'),
 ('Myocardial infarction', '190:107'),
 ('Metabolic syndrome', '161:127'),
 ('Anorexia nervosa', '177:96'),
 ('Autism', '156:94'),
 ('Multiple sclerosis', '173:88'),
 ('Stroke', '183:112'),
 ('Chronic obstructive pulmonary disease', '152:97'),
 ('Panic disorder', '158:110')]

<b>Problem Statement 3:</b> <br>Jacob, from insurance management, has noticed that insurance claims are not made for all the treatments. He also wants to figure out if the gender of the patient has any impact on the insurance claim.<br> Assist Jacob in this situation by generating a report that finds for each gender the number of treatments, number of claims, and treatment-to-claim ratio. And notice if there is a significant difference between the treatment-to-claim ratio of male and female patients.

In [227]:
%%sql
select gender , 
Round(count(
    case when claimid is null then 1 else null
    end
) * 100 :: numeric / count(*), 2) || ':' ||

Round(count(
    case when claimid > 0 then 1 else null
    end
) * 100  :: numeric / count(*),2) as Ratio

 from treatment inner join person on personid = patientid group by gender

 * postgresql://postgres:***@localhost:5432/Healthcare
2 rows affected.

[('male', '35.81:64.19'), ('female', '36.38:63.62')]


<b>Problem Statement 4:</b><br> The Healthcare department wants a report about the inventory of pharmacies. Generate a report on their behalf that shows how many units of medicine each pharmacy has in their inventory, the total maximum retail price of those medicines, and the total price of all the medicines after discount. <br>
Note: discount field in keep signifies the percentage of discount on the maximum price.

In [228]:
%%sql
select 
    pharmacyname, 
    sum(quantity) as "Units of Medicine",
    sum(quantity * (maxprice - (round(maxprice/100, 2) * discount)))  as "Maximum Price"

from medicine inner join keep using(medicineid)
inner join pharmacy using (pharmacyid)
 group by pharmacyname order by "Maximum Price" desc
 LIMIT 5

 * postgresql://postgres:***@localhost:5432/Healthcare

5 rows affected.

[('Family Fare', 2329374, Decimal('2100527167.63')),
 ('Neighborcare', 2102600, Decimal('1911283428.62')),
 ('Innovia Drug Stores', 1912433, Decimal('1756424203.94')),
 ('Below Drug', 2096473, Decimal('1732507569.29')),
 ('MedOne', 2085908, Decimal('1570482235.39'))]

<b>Problem Statement 5: </b><br> The healthcare department suspects that some pharmacies prescribe more medicines than others in a single prescription, for them, generate a report that finds for each pharmacy the maximum, minimum and average number of medicines prescribed in their prescriptions.

In [230]:
%%sql
select 
    pharmacyname,
    min(medicine) as min,
    floor(avg(medicine)) as avg,
    max(medicine) as max
from pharmacy inner join  
            prescription
            using(pharmacyid)inner join (select
                                prescriptionid,
                                count(medicineid) as medicine from contain
                                group by (prescriptionid)) 
    using(prescriptionid)
    group by pharmacyname
    LIMIT 10

 * postgresql://postgres:***@localhost:5432/Healthcare
10 rows affected.

[('Holloway Pharmacy', 1, Decimal('4'), 10),
 ('Express Food & Pharmacy', 1, Decimal('3'), 8),
 ('Health Harvest', 1, Decimal('4'), 11),
 ('Northwest Pharmacy', 1, Decimal('4'), 11),
 ('Cedra Pharmacy', 1, Decimal('4'), 9),
 ('Maplewood Pharmacy', 1, Decimal('4'), 9),
 ('Pavilions Pharmacy', 1, Decimal('4'), 9),
 ('Pharmanic', 1, Decimal('4'), 9),
 ('Rejuvva Drugs', 1, Decimal('4'), 11),
 ('First Care Rx', 1, Decimal('4'), 9)]